body{
    background-color: #272727;
}

.card-bg{
    background-color: #524646;
}

.better-card-title{
    font-family: Kite;
    color: white;
    font-size: 30px;
}
.main-page-text{
    font-family: Kite;
    color: white;
    font-size: 30px;
    text-align: center;
}

.text-style{
    color: white;
    font-family: Kite;
    font-size: 25px;
    text-align: center;
}
.button-style{
    color: white;
    font-family: Kite;
    font-size: 25px;
    text-align: center;
    -webkit-text-stroke: 0.7px black;
    background-color: #524646;
    border: 0px;
}

@font-face {
    font-family: Kite;
    src: url(../fonts/KiteOne-Regular.ttf);
}

.bg-red{
    background-color: rgba(97, 4, 4, 1);
}

/* @media screen and (max-width: 820px) {
    .card-video{
        columns: 12;
    }
} */